
body {
    color:rgb(144, 146, 0);
    background:rgb(32, 0, 90);
    margin: 0px

}



header {

           border-bottom: solid 2px rgb(108, 0, 248) ;
           padding: 20 xp;
           font-size: 32px;
           color: greenyellow ;



}



section  {

    background: rgb(119, 201, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }


chamada-texto {
           margin-right: 5%;
    
}

h1 {
font: size 40px;;
}

p {
font-size: 20px;
}

img {
    height: 100;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 50px;
  }
  
  section {
    background: rgb(54, 44, 185);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}


.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid rgb(139, 217, 219);
}
















































































































































































































































































































































































































































































